.clubsPage {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
}

.clubsPage-container {
    height: 100%;
    width: 100%;
}

.clubsPage-icon {
    font-size: 40px;
    color: #062b54;
    cursor: default;
}

.clubsPage-message {
    text-align: center;
    font-size: 24px;
}

.clubsPage-title {
    margin-left: 100px;
    width: fit-content;
}

.clubsPage-clubs{
    margin-left: 100px;
    margin-right: auto;
    height: 100%; 
    max-width: 80%;
}

.pagination button{
    background-image: none;
}