.clubsPage {
    display: grid;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
}

.clubsPage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
}

.clubsPage-icon {
    font-size: 40px;
    color: #062b54;
    cursor: default;
}

.clubsPage-message {
    text-align: center;
    font-size: 24px;
}