.club-page {
    display: grid;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-image: url('https://www.transparenttextures.com/patterns/geometry.png');
}

.club-page-col {
    display: flex;
    flex-direction: column;
    background-color: white; 
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08); /* Lighter shadow */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    margin: 50px auto;
    width: fit-content;
    max-width: 60%;
    min-width: 800px;
}




.clubLogo {
    max-width: 60%; 
    border-radius: 10%;
    width: 30vh; 
    height: 20vh; 
    
}

.club-page-header {
    display: flex; /* Make this a flex container */
    margin-top: 40px;
    border: none;
    text-align: left;
    margin-left: 50px;
    width: 80%;
}

.header-h1{
    font-size: x-large;
    color: black;
    text-shadow: 1px 1px 1px black;
    text-align: left;
    justify-content: left;
    text-decoration: underline;
    text-decoration-color: #7EADBF;  /* Example: Use your secondary blue */ 
    text-decoration-thickness: 3px;
}



.about{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    overflow-wrap: normal;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 40px;
    background-color: #DFF5FF;
}

.about p{
    font-weight: 600;
}

.interest {
    font-weight: bold;
}

.club-email {
    color: black;
    font-size: medium;
}
.posts h2,.events h2{
    color: black;
    text-shadow: 1px 1px 1px black;
    text-decoration: dashed;
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 1.5rem;
    font-weight: bolder;
    display: inline-block;
}



.events,
.posts {
    
    text-align: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 10px;
    
    
}
.posts {
    background-color: #DFF5FF;
}

.button {
    background: linear-gradient(45deg, #0C3559, #7EADBF);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 14px 24px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    transition: background 0.3s ease;
    box-sizing: border-box;
    outline: none;
    font-size: 5rem;
}

.button:hover {
    background: linear-gradient(45deg, #F26A4B, #F26052);
}

.events h3 {
    color: blue; 
    cursor: pointer; 
}

.events h3:hover {
    text-decoration: underline; 
}

.add-event-icon,
.add-post-icon {
    font-size: 30px;
    cursor: pointer;
    color:#062b54;
    margin-left: 20px;
    float: right; 
    margin-right: 20px; 
    border: 3px solid #062b54; 
    padding: 5px; 
    border-radius: 5px;
    display: in;
}


.about, .events, .posts {
    border: 5px solid #f0f0f0; /* Soften the border */
  }



