/* ClubEditPage.css */

.edit-club-page {
  /* Existing styles */
  background-image: url('https://www.transparenttextures.com/patterns/geometry.png');
  background-size: cover;
  height: 100%; /* Set full viewport height */
  width: 100%; /* Set full viewport width */
  position: absolute;
  top: 0px;
  left: 0px;
  display: grid; /* Allow content to be centered vertically */
}

.edit-club-col {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

  .edit-club-container {
    background-color: #fff;
    border-radius: 20px;
    padding: 50px; /* Increased padding */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 75rem; /* Responsive max-width */
    margin: 0 auto; /* Center the container horizontally */
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 5px; 
    width: 100%; 
  }

  h2 {
      margin-top: 0;
      margin-bottom: 30px;
      text-align: center;
      color: #333;
      font-size: 24px;
  }

  .error-message {
      color: red;
      margin-top: 10px;
      text-align: center;
  }


