.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px; 
  }
  
  .event-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .event-grid-item {
    display: flex;
    justify-content: center;
  }
  
  .events-grid {
    margin-left: auto;
    margin-right: auto;
  }
  
  .event-card {
    max-width: 100%;
  }
  
  .pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .pagination-container .MuiPaginationItem-root {
  border-radius: 75%;
  border: 1px solid #062b54;
  color: #062b54;
  min-width: 40px;
  min-height: 40px;
  margin: 0 5px;
}

.pagination-container .MuiPaginationItem-root.Mui-selected {
  background-color: #062b54;
  color: #fff;
}

.pagination-container .MuiPaginationItem-root:hover {
  background-color: #062b54;
  color: #fff;
}
  