.homePage {
  background-image: linear-gradient(to right, #0e497c, #7fb2c7);
  background-size: cover;
  display:grid;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  text-align: center;
}

.homePage-top-msg-row {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

.homePage-top-msg-row-text {
  color: black !important;
  background-color: white;
  padding: 20px;
  font-size: xxx-large !important;
  font-family: 'Trebuchet MS', sans-serif !important;
  font-weight: 600;
  background-color: white;
  border-radius: 20px;
  width: 65%;
}


.homePage-carousel-header-row {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.homePage-carousel-header-row-container-first {
  max-width: 75vw;
  width: 90%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.homePage-carousel-header-row-container {
  max-width: 75vw;
  width: 90%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.homePage-carousel-header-row-text {
  color:#062b54 !important;
  background-image: linear-gradient(to right, #ffffff, #cfcfcf);
  font-size: xx-large !important;
  font-family: 'Trebuchet MS', sans-serif !important;
  font-weight: 600;
  text-align: center;
  padding: 15px;
  border-radius: 20px;
  border: 3px solid black;
  width: 60%;
}
