.header {
  display: flex;
  height: 50px;
  margin-top: 0;
  padding: 0;
  justify-content: flex-start;
  background: white;
  z-index: 1;
}

.header-left-section {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.header-right-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-login-button {
  margin-right: 10px;
  padding: 10px 10px;
  background-color: #fff;
  width: 25%;
  color: #F2EAD0;
  cursor: pointer;
  border: none;
  position: relative;
  min-height: 40px;
  min-width: 80px;
  bottom: -20%;
}

.header-logo {
  padding:1px;
  margin-left: 10px;
}

.header-middle-section {
  flex: 1;
  display: inline-block;
  justify-items: center;
  align-items: start;
}

.header-icon {
  position: relative;
  padding-left: 20px;
  font-size: 30px;
  cursor: pointer;
  bottom: -4px;
  color:#062b54;
  cursor: default;
}


.header-nav-button {
  height: 40px;
  width: 40px;
  padding: 1px;
  background: transparent;
  font-size: 28px;
  margin-bottom: 0;
  color:#062b54
}

.header-tooltip-style {
  color: #F2EAD0 !important;
  background-color: #062b54 !important;
  font-size: small !important;
  font-family: "Arial", sans-serif !important;
  font-weight: 750;
}

.header-search-bar {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}
