.card-post-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.card-post-top {
    display: flex;
    align-items: center;
}


.card-post-logo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.card-post-title-container {
    display: flex;
    flex-direction: column;
}

.card-post-name {
    color: black !important;
    font-size: x-large !important;
    font-family: 'Trebuchet MS', sans-serif !important;
    font-weight: 600;
    margin-top: 3px;
    margin-left: 10px;
    vertical-align: top;
    text-align: left;

}

.card-post-club-name {
    color: #062b54 !important;
    font-size: large !important;
    font-family: 'Trebuchet MS', sans-serif !important;
    font-weight: 600;
    vertical-align: top;
    text-align: left;
    padding-top: 10px;
}

.card-post-desc {
    text-align: left;
}

