.card-post-content {
    display: flex;
    flex-direction: column;
}

.card-post-top {
    display: flex;
    align-items: center;
}

.card-post-bottom {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    width: 85%; 
    padding: 16px; 
    
}

.card-post-logo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.card-post-title-container {
    display: flex;
    flex-direction: column;
}

.card-post-name {
    color: black !important;
    font-size: 20px !important;
    font-family: 'Trebuchet MS', sans-serif !important;
    font-weight: 600;
    margin-top: 3px;
    margin-left: 10px;
    vertical-align: top;
    text-align: left;

}

.card-post-club-name {
    color: #062b54 !important;
    font-size: medium !important;
    font-family: 'Trebuchet MS', sans-serif !important;
    font-weight: 600;
    vertical-align: top;
    text-align: left;
    padding-top: 10px;
    overflow: hidden; 
    white-space: nowrap;  
    text-overflow: ellipsis; 
    max-width: 300px;
}

.card-post-club-date {
    color: #062b54 !important;
    font-size: 15px !important;
    font-family: 'Trebuchet MS', sans-serif !important;
    font-weight: 600;
    margin-left: 10px;
    vertical-align: top;
    font-style: italic;
    text-align: left;
}

.card-post-desc {
    text-align: left;
}

.card-post-edit-icon {
    position: relative;
    font-size: 30px;
    cursor: pointer;
    color:#062b54;
    cursor: default;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 20%;
  }

.card-post-delete-icon {
    position: relative;
    font-size: 30px;
    cursor: pointer;
    color:#062b54;
    cursor: default;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 20%;
  }

  .card-post-poster-icon {
    position: relative;
    font-size: 30px;
    cursor: pointer;
    color:#062b54;
    cursor: default;
    cursor: pointer;
    border-radius: 20%;
  }

  .card-post-edit-icon:hover, .card-post-delete-icon:hover, .card-post-poster-icon:hover {
    background: linear-gradient(45deg, #F26A4B, #F26052);
}